html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.bottom_card {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.date_card {
    margin: 0;
    display: flex;
    align-items: center;
}
.sorting {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 10px;
    padding-bottom: 16px;
}
.main_stat {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    width: 100%;
    background-color: #f8f9fa;
    border: 1px solid red;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}
.main_stat_content {
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}