@model List<Plan>


<div class="d-grid gap-2">
  <a asp-action = "Create" class="btn btn-primary mb-3" type="button">Create Plan!</a>
</div>
<div class="row">
  @foreach (var item in Model)
    {
        <div class="col-sm-6 mb-3">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@item.Name</h5>
                    <p class="card-text">@item.ShortDescription</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
      </div>
    }
</div>
<style></style>
